.navbar{
    background: rgb(0, 166, 7);
}

#menu li a{
    color: #fbfffb;
}

body{
    /*background: url("Images/background.jpg");*/
    overflow-x: hidden; 
}

h1, h3{
    color: black;
    font-weight: 600;
}

#spheres div p{
    font-size: 18px;
    font-weight: bold;
}

#partners div.row div img{
    max-width: 160px;
}

.tutors div ul{
    font-size: 17px;
    list-style-type: none;
}

.tutors div ul li:before{
    content: "— ";
}

.tutors img{
    margin-left: 40px;
}

.score{
    font-weight: 600;
    color: #00a607;
}
#header div.score{
    font-size: 30px;
}